version: 2.1

orbs:
  node: circleci/node@4.7.0
  aws-cli: circleci/aws-cli@3.1
  linter: thekevjames/linter@1.0.49

jobs:
  build:
    executor:
      name: node/default
      tag: '16.13'
    steps:
      - checkout
      - node/install-packages
      - run:
          name: prettier
          command: echo "hello world"
      - run:
          name: Run tests
          command: npm run test:ci
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
          when: always
      - store_test_results:
          path: ./reports/junit/
      - store_artifacts:
          path: ./reports/junit
  upload-to-s3:
    executor: aws-cli/default
    environment:
      AWS_DEFAULT_REGION: us-east-1
    steps:
      - checkout
      - aws-cli/setup:
          role-arn: arn:aws:iam::554582317989:role/circleci-integration-framework-private
      - run:
          name: Upload artifacts to s3
          command: |
            if [ "$CIRCLE_REPOSITORY_URL" = "git@github.com:launchdarkly/integration-framework-private.git" ]; then
              ./scripts/upload_artifacts_to_s3.sh
            fi
  send-webhook:
    docker:
      - image: cimg/base:2020.01
    steps:
      - checkout
      - run:
          name: Send webhook
          command: |
            if [ "$CIRCLE_REPOSITORY_URL" = "git@github.com:launchdarkly/integration-framework-private.git" ]; then
              ./scripts/send_webhook.sh
            fi

workflows:
  build-and-deploy:
    jobs:
      - build:
          context: hello-world-global
      - upload-to-s3:
          requires:
            - build
          context: org-global
          filters:
            branches:
              only: main
      - send-webhook:
          requires:
            - upload-to-s3
          context: org-global
          filters:
            branches:
              only: main
