build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f voter/Dockerfile -t voter:$ROOST_ENV_ID voter
    docker build -f voter/Dockerfile -t voter:$ROOST_ENV_ID voter
deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


    kubectl apply -n $ROOST_NAMESPACE -f voter/ingress.yaml

    HELM_OPTS=""
    helm upgrade newtest-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: text
  content: '#/bin/sh'
dockerCompose: ''
lastUpdatedBy: Aman Tripathi
lastUpdatedOn: 2023-02-28T08:39:47.406Z
