name: Jira Issue Linker

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  jira-issue-link:
    runs-on: ubuntu-latest
    if: github.repository == 'launchdarkly/integration-framework-private'
    steps:
      - uses: launchdarkly-labs/ld-gh-actions-jira@f32de8780a3f149939408afb1563663b9a80e902
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          jira-base-url: https://launchdarkly.atlassian.net
          jira-username: ${{ secrets.JIRA_USERNAME }}
          jira-api-token: ${{ secrets.JIRA_API_TOKEN }}
          update-description: true
